main{padding: 30px}

main p{
    margin: 20px auto;
    direction: rtl;
    font-size: 1.5em;
    text-align: center;
    color: var(--dark-blue);
}

main .fa-quote-right{float: right}

main i{
    color: var(--red);
    font-size: 3em;
}