<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/public/Css/About.min.css">
</head>

<body>
	<%- include('./includes/header.ejs') %>
	</header>
	<!-- Main -->
	<main class="container">
		<i class="fas fa-quote-right"></i>
		<p>ندعوك ﻟﻤﻐﺎﻣﺮة ﻣﺜﻴﺮة ﻣﻊ CATazine، اﻟﻤﺠﻠﺔ اﻟﺮﺳﻤﻴﺔ ﻟﻔﺮﻳﻖ CAT ، ﺣﻴﺚ ﺗﻨﻘﻞ ﻟﻨﺎ أﻓﻀﻞ اﻟﺘﻄﻮراﺕ ﻓﻰ ﻣﺠﺎﻻت اﻟﻌﻠﻮم
			واﻟﺘﻜﻨﻮﻟﻮﺟﻴﺎ ﻣﺠﻠﺔ ﻛﺎﺗﺎزﻳﻦ ﺗﻮﻓﺮ ﻟﻚ ﻣﻌﻠﻮﻣﺎت وادوات وﻣﺮاﺟﻌﺎت ﻣﻨﺼﻔﺔ وﺑﻌﺾ اﻟﻨﺼﺎئح اﻟﺘﻜﻨﻮﻟﻮﺟﻴﺔ اﻟﺘﻰ ﺗﺠﻌﻠﻚ ﻋﻠﻰ اﻃﻼع داﺋﻤﺎ
			.الكاﺗﺎزﻳﻦ ﻣﺠﻠﺔ ﻋﺮﺑﻴﺔ دورﻳﺔ ﻣﺘﺨﺼﺼﻪ ﻓﻲ ﻛﻞ ﻣﺎ ﻳﺨﺺ ﺗﻜﻨﻮﻟﻮﺟﻴﺎ اﻟﻤﻌﻠﻮﻣﺎت ﻋﻦ ﻃﺮﻳﻖ ﻣﺸﺎرﻛﺔ اﻟﻤﺒﺎدرﻳﻦ ﺑﻤﻌﺮﻓﺘﻬﻢ ﻭﺧﺒﺮاﺗﻬﻢ
			ﻭاﻟﺬي ﺑﺪوره ﻳﺨﻠﻖ ﺑﺄﺳﻬﻞ اﻟﻄﺮق ذﻟﻚ اﻟﺘﻮاﺻﻞ ﺑﻴﻦ ﻣﻦ وﺟﺪ للاﺣﺘﺮاف ﻃﺮﻳﻘﺎ وﻣﻦ وﺿﻊ أوﻟﻰ ﺧﻄﻮاﺗﻪ ﻋﻠﻴﻪ.ﺗﻢ ﺗﺄﺳﻴﺲ اﻟﻤﺠﻠﺔ ﻓﻲ ﻋﺎم
			2008 م وﺑﺪأ اﻟﻨﺸﺮ ﻓﻲ ﻧﻔﺲ اﻟﻌﺎم ﻟﻴﺘﻢ الإﻋﻼن رﺳﻴﻤﺎ ﻋﻦ اﻧﻄﻼق أول ﻋﺪد ﻟﻤﺠﻠﺔ ” ﻛﺎﺗﺎزﻳﻦ “. </p>
		<p>ﺣﻴﺚ ﻛﺎﻧﺖ آﻧﺬاك ﻣﺼﺪر إﻟﻬﺎم ﻟﻜﺜﻴﺮ ﻣﻦ اﻟﻤﺠﺘﻤﻌﺎت اﻟﺘﻘﻨﻴﺔ اﻟﺘﻲ ﺗﻮاﺟﺪت ﻋﻠﻰ اﻟﺴﺎﺣﺔ ، ﻟﺘﺤﺬوا ﺣﺬوﻫﺎ ﻓﻲ ﺳﺒﻴﻞ اﺛﺮاء اﻟﻤﺤﺘﻮى
			اﻟﺘﻘﻨﻲ ، وﺑﺎﻟﻔﻌﻞ ﻗﺪ ﺗﺸﻜﻠﺖ ﻗﺎﻋﺪة ﻋﺮﻳﻀﺔ ﻣﻦ اﻟﻤﺘﺎﺑﻌﻴﻦ ﻟﻠﻤﺠﻠﺔ ﻣﻤﺎ أﻋﻄﻰ اﻟﺪاﻓﻊ ﻟﻔﺮﻳﻖ اﻟﺘﺤﺮﻳﺮ ﻻﺳﺘﻜﻤﺎل اﻟﻤﺴﻴﺮة ﻭﺑﺪأ
			اﻟﺘﺠﻬﻴﺰ ﻟﻨﺸﺮ اﻟﻌﺪد اﻟﺜﺎﻧﻲ ﻣﻦ المجلة . </p>
		<p>ﻓﻲ ﻋﺎم 2009 ﺗﻢ اﻃﻼق اﻟﻌﺪد اﻟﺜﺎﻧﻲ ﻣﻦ اﻟﻤﺠﻠﺔ وﻗﺪ ﻻﻗﻰ ﻗﺒﻮﻻ واﺳﻌﺎ ﻟﺪى اﻟﻘﺮاء ، وﻳﺮﺟﻊ ذﻟﻚ ﻟﻤﺎ ﻛﺎن ﻳﺤﺘﻮﻳﻪ ﻣﻦ ﻣﻮاﺿﻴﻊ
			ﻣﺘﻌﺪدة وﻣﺘﻤﻴﺰة وﺷﺎﻣﻠﺔ ﻟﺠﻤﻴﻊ ﻓﺮوع ومجاﻻت ﺗﻜﻨﻮﻟﻮﺟﻴﺎ اﻟﻤﻌﻠﻮﻣﺎت. </p>
		<p>ﺧﻼل ﺗﻠﻚ اﻟﻔﺘﺮات اﻟﻤﺘﻘﻄﻌﺔ ﻛﺎن ﻻﺑﺪ للكات كأي ﻣﺠﻤﺘﻊ ﺗﻘﻨﻲ ﻣﺪرك ﻷﻫﻤﻴﺔ اﻟﺘﻮاﺻﻞ اﻟﻔﻌﺎل ﻣﻊ اﻟﺠﻤﻬﻮر ان ﻳﻘﻮم ﺑﺄﻧﺸﺎء ﻣﻨﺼﺔ
			ﺗﻮاﺻﻞ اﺧﺮى ﻣﻊ اﻟﻘﺮاء ﺗﻤﻜﻨﻬﻢ ﻣﻦ اﻟﺘﻔﺎﻋﻞ ﺑﺸﻜﻞ ﻓﻌﺎل ﻭﺳﺮﻳﻊ ﻭﻣﻦ ﻫﺬا اﻟﻤﻨﻄﻠﻖ ﺟﺎءت ﻓﻜﺮة اﻧﺸﺎء ﻧﺴﺨﺔ اﻟﻜﺘﺮوﻧﻴﺔ اﺳﺒﻮﻋﻴﺔ ﻣﻦ
			اﻟﻤﺠﻠﺔ ﺳُﻤﻴﺖ ﻻﺣﻘﺎ ﺑﺎﺳﻢ ”ﻛﺎﺗﺎزﻳﻦ ﻻﻳﻒ “ . </p>
		<p>ﺑﺪأ اﻟﻨﺸﺮ ﻓﻲ اﻟﻤﺠﻠﺔ الأﻛﺘﺮوﻧﻴﺔ ﻋﺎﻡ 2010 ﻭﻗﺪ اﺳﺘﻬﺪف أول ﻣﻘﺎل ﻛﺘﺐ، ﻣﺠﺎﻝ اﻝ- Grapic Desing &amp; 3D desings ﻭﺗﻼه
			ﻣﻘﺎل ﺑﻌﻨﻮان Introduction to Bash Scripting ، ﻭﻛﺎﻧﺖ ﺳﻴﺎﺳﺔ ﻓﺮﻳﻖ اﻟﺘﺤﺮﻳﺮ ﻣﻦ أﻫﻢ اﺳﺒﺎب اﻟﺘﻲ ﺟﺬﺑﺖ ﺟﻤﻬﻮر اﻟﻘﺮاء
			ﻭاﻟﺮاﻏﺒﻴﻦ ﻓﻲ اﻟﻜﺘﺎﺑﺔ ﺑﺎﻟﻤﺠﻠﺔ ، ﻭاﺳﺘﻤﺮ اﻟﻨﺸﺮ اﻻﺳﺒﻮﻋﻲ ﻟﻠﻤﺠﻠﺔ ﻟﻤﺪة ﻋﺎم ﻭﻧﺼﻒ اﻟﻌﺎم ﺣﺘﻰ ﺟﺎء اﻟﻘﺮار ﺑﻤﻀﺎﻋﻔﺔ اﻟﺠﻬﺪ ﻟﻴﺘﻢ
			ﻧﺸﺮ ﻋﺪد ﻳﻮﻣﻲ ﻣﻦ اﻟﻤﺠﻠﺔ ﻟﻤﻮاﻛﺒﺔ ﻣﺘﻄﻠﺒﺎت اﻟﺠﻤﻬﻮر ﻓﻲ ﻛﺎﻓﺔ اﻟﻤﺠﺎﻻت اﻟﺘﻘﻨﻴﺔ . </p>
		<p>وﻛﻨﻮع ﻣﻦ اﻟﺘﻔﺎﻋﻞ ﺑﻴﻦ ﻓﺮﻳﻖ الإدارة واﻟﺠﻤﻬﻮر ﺗﻢ ﻓﺘﺢ ﺑﺎب اﻟﺘﺪوﻳﻦ اﻟﻤﺸﺮوط ﺑﺎﻟﻤﺠﻠﺔ ، ﺣﻴﺚ ﻛﺎﻧﺖ وﻣﺎزاﻟﺖ ﺗﻠﻚ اﻟﺸﺮوط ﻣﻦ
			اﻫﻢ اﻟﻌﻮاﻣﻞ اﻟﺘﻲ ادت اﻟﻰ اﻻرﺗﻘﺎء ﺑﺎﻟﻤﺤﺘﻮى اﻟﺘﻘﻨﻲ اﻟﻌﺮﺑﻲ ﻋﻠﻰ الإﻧﺘﺮﻧﺖ ﻓﻲ ﻧﻄﺎق ﻋﻤﻞ اﻟﻔﺮﻳﻖ </p>
		<p>وﻣﻦ أﻫﻢ ﻫﺬه اﻟﺸﺮوط ﻫﻲ اﻟﻤﺤﺎﻓﻈﺔ ﻋﻠﻰ ﺣﻘﻮق اﻟﻤﻠﻜﻴﺔ واﻟﻨﺸﺮ ، ﺑﺤﻴﺚ ﻻ ﻳﺴﻤﺢ ﺑﻨﺸﺮ اﻟﻤﻮاﺿﻴﻊ واﻟﻤﻘﺎﻻت اﻟﻤﻜﺮرة أو اﻟﻤﻨﺸﻮرة
			ﻣﺴﺒﻘﺎ ﻓﻲ أي ﻣﻮﻗﻊ أو ﺟﻬﺔ اﺧﺮى، ﻧﺎﻫﻴﻚ ﻋﻦ ﺿﺮورة اﻟﺘﺄﻛﺪ ﻣﻦ ﺳﻼﻣﺔ اﻟﻤﻮاﺿﻴﻊ اﻣﻼﺋﻴﺎ ﻭﺗﻘﻨﻴﺎ ﻗﺒﻞ اﻟﻨﺸﺮ، ﻣﻤﺎ ﻳﻀﻔﻲ ﻟﻤﺴﺔ ﻣﻦ
			اﻟﺮﻗﻲ ﻳﺴﺘﺸﻌﺮﻫﺎ ﻗﺎرئ اﻟﻤﺠﻠﺔ. </p>
		<i class="fas fa-quote-left"></i>
		<p>يمكنك الإطلاع على قواعد النشر من <a
				href="https://docs.google.com/document/d/1TxunHZp60Fn6ArasuPN7Xv73QBjMrzgbraFCcual7hs/edit"
				target="_blank">هنا</a></p>
	</main>
	<%- include('./includes/end.ejs') %>