<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="Assets/fontawesome.min.css">
    <link rel="stylesheet" href="Assets/normalize.min.css">
    <link rel="stylesheet" href="Assets/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/style.min.css">
    <link rel="stylesheet" href="Css/Contact.min.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="nav navbar-default"
            id="navbar">
            <div class="container">
                <div class="navbar-header">

                    <!-- Button Collapse -->
                    <button class="navbar-toggle collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse"
                            aria-expanded="false">
                        <span class="sr-only">Nvabar collapse</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Navbar brand -->
                    <a href="/" class="navbar-brand brand-header">كاتازين</a>
                </div>

                <!-- Navbar brand -->
                <a href="/" class="navbar-brand">كاتازين</a>
                <div id="collapse" class="collapse navbar-collapse">
                    <!-- List nav -->
                    <ul class="nav navbar-nav">
                        <li><a href="/">الصفحة الرئيسية</a></li>
                        <li><a href="/Articles">المقالات</a></li>
                        <li><a href="/Members">فريق العمل</a></li>
                        <li><a href="/About">عنا</a></li>
                        <li class="active"><a href="">اتصل بنا</a></li>
                        <li><input type="search" name="Search" id="Search" placeholder="أبحث عن"> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main class="container">
        <form>
            <input type="text" name="Name" id="name" placeholder="الإسم*" required>
            <input type="email" name="Mail" id="mail" placeholder="البريد الإلكتروني*" required>
            <input type="number" name="Phone" id="phone" placeholder="رقم التليفون">
            <textarea name="Msg" id="msg" placeholder="الرسالة*" required></textarea>
            <input type="submit" value="إرسال" class="btn btn-primary">
        </form>

        <section>
            <h1>كن على اتصال بنا</h1>
            <p>سنكون سعداء باتصالك بنا ، إذا كانت لديك فكرة أو تعليق لا تتردد في التواصل معنا في أي وقت ، يمكنك استخدام هذا النمذج للاتصال بنا وسنقوم بالرد قي أسرع وقت</p>
            <p>أو يمكنك التواصل معنا عبر</p>
            <a href="mailto:catazine@catreloaded.net">catazine@catreloaded.net</a>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6 copyright">
                    <p>Run with <span>&hearts;</span> by</p>
                    <img src="Images/@Cat.jpg" alt="Cat Reloaded"> 
                    <p>Copyright 2018 CATReloaded team &copy; All rights reserved</p>
                </div>
                <div class="col-sm-6 social">
                    <p>تابعنا على</p>
                    <a href="https://www.facebook.com/CATReloaded" target="_blank"> <img src="Images/facebook.svg" alt="Facebook page"> </a>
                    <a href="https://twitter.com/CATreloaded" target="_blank"><img src="Images/twitter.svg" alt="Twitter account"></a>
                    <a href="https://plus.google.com/u/0/112664705241777101516/posts" target="_blank"><img src="Images/google+.svg" alt="Google plus "></a>
                    <a href="https://www.youtube.com/channel/UC0Zh6dv4XwPUBCBjWA5neTg" target="_blank"><img src="Images/youtube.svg" alt="Youtube channel"></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="Assets/jquery-2.1.4.min.js"></script>
    <script src="Assets/bootstrap.min.js"></script>
</body>
</html>