@font-face{
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
}
:root{
    --red: rgb(194, 52, 28);
    --blue: #277ab5;
    --dark-blue: #0D3A8C;
    --light-red: #D93A1f;
}
*{font-family: 'Cairo', sans-serif;}
body{background: url("../Images/pattern.jpg");}

/* Navbar */
.navbar-default{
    background-color: #fff;
    border-bottom: 3px inset #ddd;
    min-height: 70px;
}

.navbar-default .navbar-brand{
    font-size: 2.5em;
    margin-top: 5px;
    color: var(--red);
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    float: right;
}

.navbar-default .navbar-brand:hover{color: var(--red)}

.navbar-default .navbar-brand.brand-header{display: none}

.navbar-default .nav {
    float: none;
    margin: 0;
}

.navbar-default .nav li{
    float: right;
    margin: auto 5px
}

.navbar-default .nav li:last-of-type{float: left;}

.navbar-default .nav li a{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.1em;
    border-radius: 10px;
    transition: 1s;
}

.navbar-default .nav li a:hover, .navbar-default .nav .active a:hover, .navbar-default .nav .active a{
    color: #fff;
    background-color: var(--red)
}

.navbar-default .nav li input{
    margin: 15px;
    padding: 5px 10px;
    outline-color: var(--red);
    border-radius: 10px;
    width: 200px;
    direction: rtl;
}

.navbar-default .nav li input:focus{border-radius: 0}

@media screen and (max-width: 767px){
    .navbar-default .navbar-brand{display: none}
    .navbar-default .navbar-brand.brand-header{
        display: block;
        float: left;
    }
    .navbar-default .nav li{float: none;}
    .navbar-default .nav li:last-child{width: 100%}
}

/* Aside */
aside{
    margin-top: 50px;
    flex: 1
}

aside section{
    background-color: #fff;
    padding: 7px 10px 0;
}

aside h2{
    text-align: center;
    text-decoration: underline;
    color: var(--dark-blue);
}

aside ul{padding: 20px 0 0;}

aside ul li{
    list-style: none;
    text-align: center;
    line-height: 0
}

aside ul li a{color: #999;}

aside ul .hr{margin: 0 30px;}

aside ul li a:hover{
    color: #000;
    text-decoration: none;
}

aside section .dropdown>a{
    color: #000;
    display: block;
    margin: 0 auto;
    width: max-content;
    padding-bottom: 20px
}

aside section .dropdown ul li a{color: #999}

aside section .dropdown ul li a:hover, aside section .dropdown ul li a:focus{
    color: #000;
    background-color: transparent;
}

/* Tags */
aside section.tags{margin-top: 20px}

aside section.tags ul{
    display: flex;
    flex-wrap: wrap
}

aside section.tags ul li{
    background-color: var(--dark-blue);
    padding: 5px 10px;
    margin: 5px;
    line-height: 1.5;
}

aside section.tags ul li a{color: #fff;}

/* Form */
aside form{
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
}

aside form input{
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 10px;
    outline-color: var(--red);
    direction: rtl;
}

aside form input:focus{border-radius: 0}

aside form input[type="submit"]{
    display: block;
    margin-bottom: 15px;
}

/* Pages */
main .curPage p{
    text-align: right;
    font-size: 1.2em;
    margin-right: 10px;
}

main .curPage p a{font-size: 1.2em;}

/* Footer */
footer{background-color: #fff}

footer hr{border-top: 3px solid #ddd;}

footer .social{
    float: right;
    display: grid;
    grid-template-areas: "icon icon icon icon par";
    grid-gap: 20px;
    justify-content: flex-end;
    margin-top: 30px;
}

footer .social p{
    font-size: 1.3em;
    grid-area: par;
}

footer .social img{
    width: 40px;
    grid-area: icon;
}

footer .copyright{float: left;}

footer .copyright p{text-align: center}

footer .copyright p:first-of-type{color: var(--dark-blue)}

footer .copyright p span{color: var(--red)}

footer .copyright img, footer .copyright p{width: 200px}

footer .copyright p:first-of-type{font-size: 1.2em;}