@font-face{
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
}
:root{
    --red: rgb(194, 52, 28);
    --blue: #277ab5;
    --dark-blue: #0D3A8C;
    --yellow-green: #ADDF37;
    --light-red: #D93A1f;
}
*{font-family: 'Cairo', sans-serif;}
body{
    background: url("../Images/background.jpg");
    background-size: contain
}

/* Navbar */
.navbar-default{
    background-color: #fff;
    border-bottom: 3px inset #ddd;
    min-height: 70px;
}

.navbar-default .navbar-brand{
    font-size: 3em;
    margin-top: 5px;
    color: var(--red);
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    float: right;
}

.navbar-default .navbar-brand:hover{color: var(--red)}

.navbar-default .navbar-brand.brand-header{display: none}

.navbar-default .nav {float: none;}

.navbar-default .nav li{float: right;}

.navbar-default .nav li:last-of-type{float: left;}

.navbar-default .nav li a{
    margin-top: 10px;
    padding-top: 15px;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 1s;
}

.navbar-default .nav li a:hover, .navbar-default .nav .active a:hover, .navbar-default .nav .active a{
    color: #fff;
    background-color: var(--red)
}

.navbar-default .nav li input{
    margin: 20px;
    padding: 5px 10px;
    outline-color: var(--red);
    border-radius: 10px;
    width: 200px;
    direction: rtl;
}

@media screen and (max-width: 767px){
    .navbar-default .navbar-brand{display: none}
    .navbar-default .navbar-brand.brand-header{
        display: block;
        float: left;
    }
    .navbar-default .nav li{float: none;}
    .navbar-default .nav li:last-child{width: 100%}
}

/* Footer */
footer{background-color: #fff}

footer hr{border-top: 3px solid #ddd;}

footer .social{
    float: right;
    display: grid;
    grid-template-areas: "icon icon icon icon par";
    grid-gap: 20px;
    justify-content: flex-end;
    margin-top: 30px;
}

footer .social p{
    font-size: 1.3em;
    grid-area: par;
}

footer .social img{
    width: 40px;
    grid-area: icon;
}

footer .copyright{float: left;}

footer .copyright p{text-align: center}

footer .copyright p:first-of-type{color: var(--dark-blue)}

footer .copyright p span{color: var(--red)}

footer .copyright img, footer .copyright p{width: 200px}

footer .copyright p:first-of-type{font-size: 1.2em;}